# Question 1
Write a function called proportion_of_education which returns the proportion of children in the dataset who had a mother with the education levels equal to less than high school (<12), high school (12), more than high school but not a college graduate (>12) and college degree.

This function should return a dictionary in the form of (use the correct numbers, do not round numbers):

    {"less than high school":0.2,
    "high school":0.4,
    "more than high school but not college":0.2,
    "college":0.2}

In [2]:
import pandas as pd
import numpy as np

In [3]:
df= pd.read_csv(r"C:\Users\Юрий\Desktop\Занятия\Coursera\assignments\assignment2\assets\NISPUF17.csv")
df

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28460,28461,19141,1914,2,NaN,21.188088,2062,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28461,28462,121401,12140,2,NaN,26.503010,2004,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28462,28463,128831,12883,2,NaN,27.520652,2004,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28463,28464,82921,8292,2,NaN,22.390587,2062,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28464,28465,244621,24462,2,NaN,27.520652,2004,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df['EDUC1'] # EDUC1 – education of the mother
df['EDUC1'].value_counts(normalize=True)

4    0.479747
3    0.245881
2    0.172352
1    0.102020
Name: EDUC1, dtype: float64

In [4]:
res = df['EDUC1'].value_counts(normalize=True).to_dict()
res1={}
res1.update({'less than high school': res[4],
            'high school': res[3],
            'more than high school but not college': res[2],
            'college': res[1]})
print(res1)

{'less than high school': 0.47974705779026877, 'high school': 0.24588090637625154, 'more than high school but not college': 0.172352011241876, 'college': 0.10202002459160373}

# answer 1

In [5]:
import pandas as pd
import numpy as np
def proportion_of_education():
    df= pd.read_csv(r"assets/NISPUF17.csv")
    res = df['EDUC1'].value_counts(normalize=True).to_dict()
    res1={}
    res1.update({'less than high school': res[4],
                'high school': res[3],
                'more than high school but not college': res[2],
                'college': res[1]})
    return res1

# Question 2
Let's explore the relationship between being fed breastmilk as a child and getting a seasonal influenza vaccine from a healthcare provider. Return a tuple of the average number of influenza vaccines for those children we know received breastmilk as a child and those who know did not.

This function should return a tuple in the form (use the correct numbers:

(2.5, 0.1)

In [6]:
# грудное вскармливание
df['CBF_01']

0        1
1        2
2        2
3        2
4        1
        ..
28460    2
28461    1
28462    1
28463    2
28464    1
Name: CBF_01, Length: 28465, dtype: int64

In [7]:
# сумма прививок от гриппа. 
df['P_NUMFLU']

0        NaN
1        NaN
2        NaN
3        3.0
4        0.0
        ...
28460    NaN
28461    NaN
28462    NaN
28463    NaN
28464    NaN
Name: P_NUMFLU, Length: 28465, dtype: float64

In [8]:
#Булева маска если  'CBF_01'=1 - True 
admit_mask=df['CBF_01'] == 1
df['P_NUMFLU'].where(admit_mask).mean()

1.8799187420058687

In [9]:
#Булева маска если  'CBF_01'=2 - True 
admit_mask=df['CBF_01'] == 2
df['P_NUMFLU'].where(admit_mask).mean()

1.5963945918878317

In [10]:
import pandas as pd
import numpy as np
def average_influenza_doses():
    df= pd.read_csv(r"assets/NISPUF17.csv")
    res=[]
    admit_mask=df['CBF_01'] == 1
    res.append(df['P_NUMFLU'].where(admit_mask).mean())
    admit_mask=df['CBF_01'] == 2
    res.append(df['P_NUMFLU'].where(admit_mask).mean())
    return(tuple(res))

# Question 3
It would be interesting to see if there is any evidence of a link between vaccine effectiveness and sex of the child. Calculate the ratio of the number of children who contracted chickenpox but were vaccinated against it (at least one varicella dose) versus those who were vaccinated but did not contract chicken pox. Return results by sex.

This function should return a dictionary in the form of (use the correct numbers):

    {"male":0.2,
    "female":0.4}
Note: To aid in verification, the chickenpox_by_sex()['female'] value the autograder is looking for starts with the digits 0.0077.

In [11]:
# HAD_CPOX - переболевшие ветрянкой 
# P_NUMVRC - сумма прививок от ветрянки 
#SEX - пол. 1 - male, 2 - female
df['HAD_CPOX'].value_counts()

2     27955
1       402
77      105
99        3
Name: HAD_CPOX, dtype: int64

In [12]:
# привиты and had HPOX -( М-68, Ж-53)  привиты and not had HPOX - (М-7028, Ж-6802)
mask1=(df['SEX']==1) & (df['P_NUMVRC']>0) & (df['HAD_CPOX']==1) #мальчики привитые переболевшие
mask2=(df['SEX']==1) & (df['P_NUMVRC']>0) & (df['HAD_CPOX']==2) #мальчики привитые не переболевшие
mask3=(df['SEX']==2) & (df['P_NUMVRC']>0) & (df['HAD_CPOX']==1) #девочки привитые переболевшие
mask4=(df['SEX']==2) & (df['P_NUMVRC']>0) & (df['HAD_CPOX']==2) #девочки привитые не переболевшие

In [13]:
len(df[mask1])/len(df[mask2])

0.009675583380762664

In [14]:
len(df[mask3])/len(df[mask4])

0.0077918259335489565

In [63]:
res={}
res.update({"male":len(df[mask1])/len(df[mask2]),
           "female":len(df[mask3])/len(df[mask4])})
res

{'male': 0.05549231644849175, 'female': 0.0077918259335489565}

In [135]:
def chickenpox_by_sex():
    df= pd.read_csv(r"assets/NISPUF17.csv")
    mask1=(df['SEX']==1) & (df['P_NUMVRC']>0) & (df['HAD_CPOX']==1) 
    mask2=(df['SEX']==1) & (df['P_NUMVRC']>0) & (df['HAD_CPOX']==2) 
    mask3=(df['SEX']==2) & (df['P_NUMVRC']>0) & (df['HAD_CPOX']==1) 
    mask4=(df['SEX']==2) & (df['P_NUMVRC']>0) & (df['HAD_CPOX']==2) 
    res={}
    res.update({"male":len(df[mask1])/len(df[mask2]),
           "female":len(df[mask3])/len(df[mask4])})
    return res

# Question 4
A correlation is a statistical relationship between two variables. If we wanted to know if vaccines work, we might look at the correlation between the use of the vaccine and whether it results in prevention of the infection or disease [1]. In this question, you are to see if there is a correlation between having had the chicken pox and the number of chickenpox vaccine doses given (varicella).

Some notes on interpreting the answer. The had_chickenpox_column is either 1 (for yes) or 2 (for no), and the num_chickenpox_vaccine_column is the number of doses a child has been given of the varicella vaccine. A positive correlation (e.g., corr > 0) means that an increase in had_chickenpox_column (which means more no’s) would also increase the values of num_chickenpox_vaccine_column (which means more doses of vaccine). If there is a negative correlation (e.g., corr < 0), it indicates that having had chickenpox is related to an increase in the number of vaccine doses.

Also, pval is the probability that we observe a correlation between had_chickenpox_column and num_chickenpox_vaccine_column which is greater than or equal to a particular value occurred by chance. A small pval means that the observed correlation is highly unlikely to occur by chance. In this case, pval should be very small (will end in e-18 indicating a very small number).

[1] This isn’t really the full picture, since we are not looking at when the dose was given. It’s possible that children had chickenpox and then their parents went to get them the vaccine. Does this dataset have the data we would need to investigate the timing of the dose?

In [147]:
df['P_NUMVRC'].value_counts()

1.0    13781
0.0     1338
2.0      213
3.0        1
Name: P_NUMVRC, dtype: int64

In [172]:
import scipy.stats as stats
df=pd.DataFrame({'HAD_CPOX':df['HAD_CPOX'],
                  'P_NUMVRC':df['P_NUMVRC']})
df.loc[df['HAD_CPOX'] <= 2,'HAD_CPOX']
#df['HAD_CPOX'].replace([77], np.nan, regex=True, inplace=True)
df=df.dropna()
corr, pvals=stats.pearsonr(df['HAD_CPOX'],df['P_NUMVRC'])
print(df['HAD_CPOX'].unique())

[2. 1.]

In [ ]:
def corr_chickenpox():
    import scipy.stats as stats
    import numpy as np
    import pandas as pd
    df= pd.read_csv(r"assets/NISPUF17.csv")
    # this is just an example dataframe
    df=pd.DataFrame({'HAD_CPOX':df['HAD_CPOX'],
                   'P_NUMVRC':df['P_NUMVRC']})

    # here is some stub code to actually run the correlation
    df.loc[df['HAD_CPOX'] <= 2,'HAD_CPOX']
    df['HAD_CPOX'].replace([77], np.nan, regex=True, inplace=True)
    df=df.dropna()
    corr, pvals=stats.pearsonr(df['HAD_CPOX'],df['P_NUMVRC'])  
    # just return the correlation
    return corr