 # Basic Statical Testing

In [1]:
#тут рассмотрим основные статистические тесты в питон
#поговорим о тестировании гипотез, статистическом значении и использовании scipy для поиска критерия Т-стьюдента

In [2]:
import numpy as np
import pandas as pd
from scipy import stats
# scipy - коллекция библиотек для data science. она включает в себя numpy и pandas
# а также библиотеки для визуализации как matplotlib и др.

In [3]:
# у нас есть нулевая гипотеза, и некая альтернативная гипотеза которую мы хотим подтвердить
# рассмотрим пример: 
df = pd.read_csv (r"C:\Users\Юрий\Desktop\Занятия\Coursera\resources\week-4\datasets\grades.csv")
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [5]:
#посмотрим на shape
df.shape

(2315, 13)

In [11]:
# разделим студентов на две части. первая, те кто завершил первое задание к концу декабря 2015г. 
# вторая - те кто позже
early_finishers = df[pd.to_datetime(df['assignment1_submission'])<'2016']
late_finishers=df[~df.index.isin(early_finishers.index)]
# ~ - обозначение всего что не  входит в указанный датафрейм (отрицание)
# т.е. только те индексы в df что не early_finishers.index
# это довольно сложный способ, можно решить проще..

In [ ]:
# напр так
# late_finishers = df[pd.to_datetime(df['assignment1_submission'])>'2015'

In [9]:
# Также можно присоединиться к датафрейму с early_finisers. если мы сделаем левое соединение то получим только элементы в левом датафрейме. 
# также можно написать функцию на ><, а затем через apply добавить новую колонку в датафрейм.

In [14]:
# теперь рассмотрим статистические функции 
# сравним средние значения для двух наших групп. 
print(early_finishers['assignment1_grade'].mean())
print(late_finishers['assignment1_grade'].mean())

74.94728457024303
74.0450648477065

In [15]:
# проверим насколько значимы эти различия (влияет ли время быполнения первого эказамена, на итоговый результат)
# порогом будет 0.05 (порог занчимости обычно называют Альфа (??))
# scipy содержит ряд статистических тестов и служит основой для статистических гипотез в питоне
# будем использовать функцию ttest_ind(), которая делает independent T-test(проверяем что группы не связаны друг с другом. )
# резултатом T-test является t_statistic and p-value.

from scipy.stats import ttest_ind
ttest_ind(early_finishers['assignment1_grade'], late_finishers['assignment1_grade'])

Ttest_indResult(statistic=1.322354085372139, pvalue=0.1861810110171455)

In [20]:
# видим что Р = 0.18, это выше нашего значения Альфа 0.05
# значит мы не можем отклонить нулевую гипотезу. т.е. результат не зависит от времени сдачи (вероятно)

# теперь проверим другие оценки 
print(ttest_ind(early_finishers['assignment2_grade'], late_finishers['assignment2_grade']))
print(ttest_ind(early_finishers['assignment3_grade'], late_finishers['assignment3_grade']))
print(ttest_ind(early_finishers['assignment4_grade'], late_finishers['assignment4_grade']))
print(ttest_ind(early_finishers['assignment5_grade'], late_finishers['assignment5_grade']))
print(ttest_ind(early_finishers['assignment6_grade'], late_finishers['assignment6_grade']))

Ttest_indResult(statistic=1.2514717608216366, pvalue=0.2108889627004424)
Ttest_indResult(statistic=1.6133726558705392, pvalue=0.10679998102227865)
Ttest_indResult(statistic=0.049671157386456125, pvalue=0.960388729789337)
Ttest_indResult(statistic=-0.05279315545404755, pvalue=0.9579012739746492)
Ttest_indResult(statistic=-0.11609743352612056, pvalue=0.9075854011989656)

In [21]:
# видим что по всем экзаменам нет значимых результатов. 
# данные значения P - могут помочь нам в дальнейшем экспериментальном дизайне
# напр assignment3_grade имеет P около 0.1 и если бы мы установили АЛьфу в 11% то результат был бы значимым.
# это подсказывает нам на что стоит смотреть в дальнейшем. если бы у нас было небольшое количество участников 
# или в этом задании было бы что-то уникальное, то мы могли бы исследовать глубже в ту сторону чтобы попытаться найти значимые результаты. 
#

In [27]:
# сейчас P-values подвергают критике, за то что они недостаточны чтобы рассказать нам о "взаимодействиях".
# и два других метода - доверительные интервалы, и байесовский анализ используют чаще.
# одна из проблем  P-values закл. в том что если делать много разных тестов то рано или поздно мы получим значимый результат. 
# давайте посмотрим на такую симуляцию. 

# создадим датафрейм из 100 столбцов по 100 строк. 
df1= pd.DataFrame([np.random.random(100) for x in range(100)])
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.537425,0.954794,0.091692,0.208130,0.440688,0.615567,0.690199,0.185922,0.376892,0.023147,...,0.462350,0.782119,0.376261,0.704039,0.946965,0.161028,0.350590,0.195620,0.918837,0.091581
1,0.743707,0.411192,0.113067,0.179495,0.746825,0.413297,0.952908,0.314239,0.409751,0.746912,...,0.942823,0.756475,0.524895,0.639552,0.895588,0.820876,0.268017,0.973076,0.439791,0.125378
2,0.741268,0.410581,0.351487,0.029204,0.083400,0.962732,0.776046,0.357076,0.312991,0.879051,...,0.891248,0.035045,0.326400,0.457546,0.946372,0.862941,0.708138,0.454695,0.439950,0.479634
3,0.007062,0.499917,0.910691,0.401822,0.093170,0.313039,0.872482,0.632827,0.513939,0.652530,...,0.470636,0.841432,0.262683,0.159439,0.376672,0.719559,0.183187,0.262035,0.439071,0.452593
4,0.323028,0.763452,0.235829,0.636235,0.937602,0.138716,0.077755,0.823085,0.667510,0.899213,...,0.710953,0.328957,0.753160,0.457941,0.013462,0.094279,0.780267,0.919085,0.765320,0.445973

In [28]:
df2= pd.DataFrame([np.random.random(100) for x in range(100)])
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.084233,0.285465,0.938296,0.984761,0.760047,0.662197,0.574241,0.946189,0.299701,0.667939,...,0.229791,0.234534,0.568208,0.857825,0.529598,0.019678,0.336996,0.601864,0.719098,0.573842
1,0.537397,0.749415,0.311033,0.107288,0.102668,0.201828,0.055847,0.707333,0.118206,0.292233,...,0.873776,0.133480,0.528760,0.897906,0.835032,0.668505,0.133607,0.134703,0.071627,0.641291
2,0.908628,0.456851,0.733614,0.942945,0.024481,0.267568,0.789050,0.438006,0.212372,0.041459,...,0.729643,0.739465,0.800653,0.941660,0.843482,0.205972,0.941848,0.505538,0.277967,0.477153
3,0.543884,0.644614,0.599622,0.255011,0.738115,0.429842,0.430108,0.862231,0.962284,0.975497,...,0.280552,0.998011,0.691092,0.760092,0.185349,0.214113,0.225031,0.247682,0.849220,0.860863
4,0.174194,0.477375,0.485135,0.610218,0.841486,0.638039,0.192496,0.541247,0.682435,0.418513,...,0.017318,0.926422,0.454559,0.643497,0.640505,0.971089,0.190354,0.459029,0.266065,0.447912

In [35]:
# мы точно знаем что эти фреймы рандомны и зависимостей внути нет. 
# возьмем альфу в 10%. будем сравнивать все столбцы в фреймах попарно. 
# оставим только результаты где Р >10%
def test_columns(alpha=0.1):
    num_diff=0
    for col in df1.columns:
        teststat,pval=ttest_ind(df1[col],df2[col])
        if pval<=alpha:
            print('Col {} is statistifically significantly different at alpha={}, pval={}'.format(col,alpha,pval))
            num_diff+=1
    print('Total number different was {}, which is {}%'.format(num_diff,float(num_diff)/len(df1.columns)*100))
test_columns()

Col 9 is statistifically significantly different at alpha=0.1, pval=0.008285102111669766
Col 12 is statistifically significantly different at alpha=0.1, pval=0.008811305006983832
Col 25 is statistifically significantly different at alpha=0.1, pval=0.05449411398502648
Col 27 is statistifically significantly different at alpha=0.1, pval=0.041106308304587266
Col 29 is statistifically significantly different at alpha=0.1, pval=0.011434196728899577
Col 47 is statistifically significantly different at alpha=0.1, pval=0.03256043494781337
Col 56 is statistifically significantly different at alpha=0.1, pval=0.014334540584128053
Col 64 is statistifically significantly different at alpha=0.1, pval=0.00623561336555409
Col 76 is statistifically significantly different at alpha=0.1, pval=0.058200693188301435
Col 78 is statistifically significantly different at alpha=0.1, pval=0.06763262433413408
Col 82 is statistifically significantly different at alpha=0.1, pval=0.0351887918505298
Col 87 is statistifically significantly different at alpha=0.1, pval=0.057090481845341115
Col 97 is statistifically significantly different at alpha=0.1, pval=0.042502680803183396
Total number different was 13, which is 13.0%

In [36]:
# итак получили 13 значимых результатов из 100, в рандомных фреймах. 
# попробуем с альфой 0.05
test_columns(0.05)

Col 9 is statistifically significantly different at alpha=0.05, pval=0.008285102111669766
Col 12 is statistifically significantly different at alpha=0.05, pval=0.008811305006983832
Col 27 is statistifically significantly different at alpha=0.05, pval=0.041106308304587266
Col 29 is statistifically significantly different at alpha=0.05, pval=0.011434196728899577
Col 47 is statistifically significantly different at alpha=0.05, pval=0.03256043494781337
Col 56 is statistifically significantly different at alpha=0.05, pval=0.014334540584128053
Col 64 is statistifically significantly different at alpha=0.05, pval=0.00623561336555409
Col 82 is statistifically significantly different at alpha=0.05, pval=0.0351887918505298
Col 97 is statistifically significantly different at alpha=0.05, pval=0.042502680803183396
Total number different was 9, which is 9.0%

In [37]:
# видим что T-test может ошибаться и очень важно устанавливать правильный порог Альфа. 
# для установления порога желательно пообщаться с экспертами в нужной области и понять что они считают значимым. 
#

# Other Forms of Structured Data

In [ ]:
# network сеть 
# Графы
# Древовидная структура (сеть с иерархией)
# Все эти структуры просто дают нам описания отношений которые мы можем применить к различным доменам. 
# Древовидные структуры часто используют в NLP
# вот пример из самой популярной библиотеки для обработки языка в питоне - natural language toolkit (NTLK)
# слова из текста представлены в виде древовидной стркутуры, которая позволяет указать иерархию между словами
# разбивая их по частям речи. что помогает устонавить взаимоотношения между словами в тексте. 
# data scientist должен уметь работать с разными структурами данных и выбирать их в зависимоисти от задачи.